<h1>

<%= image_tag(@profile.image.url, :size => "200x150", :class => "img-circle") %>

 <%= @profile.username %>'s profile</h1>

<p><strong>Location:</strong> <%= @profile.location %></p>
<p><strong>Bio:</strong> <%= @profile.bio %></p>

<% if @profile.id == profile_id %>
<%= link_to 'Edit', edit_profile_path(@profile.id), :class =>"btn btn-warning" %>
<% end %>
<br></br>
<h3> Recent Activity </h3>

<h3> Topics </h3>

<% @topics.each do |p|%>
	<p><%= link_to topic_path(p) do %>
	<h4><%= p.title %>
	<%end%>
	<br /><small><%= p.votes.count %> votes </small></h4>
	<%= p.content %>
	<% if @profile.id == profile_id %>
		<%= link_to 'Edit', edit_topic_path(p), :class =>"btn btn-warning btn-xs" %>
	<% end %>
	</p>
<% end %>
<br></br>
<h3> Comments </h3>

<% @posts.each do |p|%>
	<p><%= link_to topic_post_path(p.topic, p) do %>
	<h4><%= p.title %>
	<% end %>
	<br /><small><%= p.postvotes.count %> votes on <%= p.created_at %> in <%= p.topic.title %></small></h4>
	<%= p.content %>
	<% if @profile.id == profile_id %>
		<%= link_to 'Edit', edit_topic_post_path(p.topic, p), :class =>"btn btn-warning btn-xs" %>
	<% end %>
	</p>
<% end %>