<h1>New Thread</h1>

<% if @topic.errors.any? %>
	<ul class = "list-group">
		<% @topic.errors.full_messages.each do |message| %>
		<li class = "list-group-item list-group-item-danger"><%= message %> </li>
		<% end %>
	</ul>

<% end %>

<%= bootstrap_form_for @topic do |t| %>

	<%= t.text_field :title, class: "form-control" %>
	<%= t.text_field :content, class: "form-control" %>
	<%= t.hidden_field :user_id, :value => current_user.id %>
	<%= t.submit 'Create Topic', class: "btn btn-lg btn-success" %>
<% end %>
