<h1><%= @topic.title %> (<%= @topic.posts.count %>) </h1> 

<% @topic.posts.each do |tt| %>
	<h4><%= tt.title %></h4> 
	<p><%= tt.content %></p>
	<%= link_to 'details', topic_post_path(@topic, tt),:class =>"btn btn-info"  %> 
<% end %>

<br /><br />
<%= link_to 'new post', new_topic_post_path(@topic), :class =>"btn btn-success" %>


