<h1><%= @topic.title %> (<%= @topic.posts.count %>) </h1> 

<% @posts.each do |tt| %>
	<h4><%= tt.title %></h4> 
	<% if Profile.where(:user_id => tt.user_id)[0] != nil %>
		<% @username = Profile.where(:user_id => tt.user_id)[0].username %>
		<% @prof_id = Profile.where(:user_id => tt.user_id)[0].id %>
	<% else %>
		<% @username = 'anonymous' %>
	<% end %>
		<% if Profile.where(:user_id => tt.user_id)[0] != nil %>
		<%= link_to profile_path(@prof_id) do%> 
			<%= @username %>
		<% end %>
	<% else %>
		<%= @username %>
	<% end %>: 
	<%= tt.content %>

	<%= link_to 'details', topic_post_path(@topic, tt),:class =>"btn btn-info btn-xs"  %> 
<% end %>



<br /><br />
<%= link_to 'new post', new_topic_post_path(@topic), :class =>"btn btn-success" %>


