<h1>Sign Up</h1>

<% if @user.errors.any? %>
	<ul class = "list-group">
		<% @user.errors.full_messages.each do |message| %>
		<li class = "list-group-item list-group-item-danger"><%= message %> </li>
		<% end %>
	</ul>

<% end %>

<div class="form-inline" role="form">
<%= form_for @user do |f| %>
  Email: <%= f.text_field :email, class: "form-control" %>
  Password: <%= f.password_field :password, class: "form-control" %>
  <%= f.submit 'Sign Up', class: "btn btn-lg btn-success"%>
<% end %>
</div>