<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<%= form_for @post, url: {action: "update"} do |f| %>
<%= f.hidden_field :topic_id, :value => @topic.id %>
Title: <%= f.text_field :title %> <br />
Content: <%= f.text_field :content %>

<%= f.submit %>

<% end %>