<h1>Edit Post</h1>
<h2><%= @post.title %></h2>

<%= bootstrap_form_for @post, url: {action: "update"} do |f| %>
<%= f.hidden_field :topic_id, :value => @topic.id %>
<%= f.text_field :title %> <br />
<%= f.text_area :content %>

<%= f.submit 'Update', class: "btn btn-lg btn-warning" %>


<% end %>