<h1>New Post</h1>


<% if @post.errors.any? %>
	<ul class = "list-group">
		<% @post.errors.full_messages.each do |message| %>
		<li class = "list-group-item list-group-item-danger"><%= message %> </li>
		<% end %>
	</ul>

<% end %>

<%= form_for @post, url: {action: "create"} do |f| %>
<%= f.hidden_field :topic_id, :value => @topic.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
Title: <%= f.text_field :title, class: "form-control" %> <br />
Content: <%= f.text_field :content, class: "form-control" %>

<%= f.submit %>

<% end %>